/* Especificidad: 001*/
  body {
    font-family: Tahoma, sans-serif;
    color: #ffffff;
    background-color:rgb(0, 0, 0);
  }

  /*001*/img, video, audio {
    max-width: 100%; 
    height: auto;
  }

  /*002*/p > img {
    max-width: 8%;
    margin-right: 1%;
    height: auto;
    float: left;
  }

  /*011*/a:link {
    color: yellow;
  }

  /*011*/a:visited {
    color: red;
  } 

  /*001*/table {
    max-width: 100%;
    border: 1px solid rgb(255, 255, 255);
  }
   
   /*002*/nav > a{
    text-decoration: none;
    border-bottom-width: medium;
    border-right-width: thin;
    border-left-width: thin;
    border-top-width: thin;
    color:#f2f2f2;
    border-style: groove; 
    padding: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
/*001*/h2{
    text-align: center;
    border-bottom-width: medium;
    border-right-width: thin;
    border-left-width: thin;
    border-top-width: thin;
    border-style: groove;  
    margin-left: 20%;
    margin-right: 20%;    
    background-color:rgba(6, 238, 26, 0.781);    
}

/*001*/nav {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

/*001*/h1 {  
  color: white;
  text-transform: uppercase;    
  text-align: center;
  margin:2em;
}


/*002*/footer > img{
  margin-top: 4%;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%; 
  height: auto;
}

/*001*/fieldset{
  margin-bottom: 3%;
}